
body {
    font-family: 'Raleway', sans-serif;
}


h1.yes{
    grid-area: header1;
    font-size: x-large;

    background-color: #ccc;

    padding-left: 40px;
    padding-top: 10px;

    margin-left: 20px;
    margin-top: 30px;

    border-top-width: 5px;
    border-top-color: black;
    border-top-style: solid;

    border-left-width: 10px;
    border-left-color: red;
    border-left-style: solid;

    border-top-left-radius: 5px;
}
.sidebar{
    background-color: #ccc;
    grid-area: sidebar;

}
#img{
    grid-area: header4;
    width: 80%;  
    height: auto;
}

#experience{
    transition: all 0.6s ease-in 0.15s;
}
#experience:hover{
    letter-spacing: 10px;
    background-color: #5a68fa;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 900;
}

.container {
    display: grid;
    grid-template-columns:
      250px 1fr 1fr 1fr;
    grid-template-areas:
      "sidebar header1 header1 header4"
      "sidebar   main1 main1 main1 "
      "sidebar  main2 main2 main2"
      "sidebar main3 main3 main3 "
      "sidebar main4 main4 main4 " 
      "sidebar main5 main5 main5" ;
  }
  
  #experience {
      grid-area: main1;
  }

  #Formation {
      grid-area: main2;
   
  }
  #Langues {
      grid-area: main3;
      
  }
  #Compétences  {
      grid-area: sidebar2;
  }
  #Centresdintérets{
    grid-area: sidebar3;
  }
  #profil { 
    grid-area: sidebar;
  }
  .subtitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
  }

