
body {
    font-family: 'Raleway', sans-serif;
}

a {
    transition: all 0.6s ease-in 0.15s;
}

h1.yes{
    font-size: x-large;

    background-color: #ccc;

    padding-left: 40px;
    padding-top: 10px;

    margin-left: 20px;
    margin-top: 30px;

    border-top-width: 5px;
    border-top-color: black;
    border-top-style: solid;

    border-left-width: 10px;
    border-left-color: red;
    border-left-style: solid;

    border-top-left-radius: 5px;
}
#experience{
    transition: all 0.6s ease-in 0.15s;
}
#experience:hover{
    letter-spacing: 10px;
    background-color: #fd5e53;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 900;
}

.container {
    display: grid;
    grid-template-columns:
      1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header header header header"
      "sidebar   main1 main1 main1 "
      "sidebar  main2 main2 main2"
      "sidebar2 main3 main3 main3 " 
      "sidebar2 main4 main4 main4 " ;
  }
  
  #experience {
      grid-area: main1;
      background-color: #ffba5a;
  }
  #Formation {
      grid-area: main2;
      background-color: #3282b8;
  }
  #Langues {
      grid-area: main3;
      background-color: #db3056;
  }
  #Compétences  {
      grid-area: sidebar2;
      background-color: #7fa998;
  }

  #profil { 
    grid-area: sidebar;
  }

